body{
    background-color: hsl(204, 43%, 93%);
}
p{
    color: hsl(240, 3%, 7%);
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 72px 8.533%;
}
h1{
    color:  hsl(179, 62%, 43%);
    margin: 30px 24px;
}
.one {
    grid-column: 1;
    grid-row: 1 / 2;
    background-color: hsl(0, 0%, 100%);
}
.one h3{
    color: hsl(71, 73%, 54%);
    margin: 28px 24px;
}
.one p {
    margin: 40px 24px;
}
.two {
    grid-column: 1;
    grid-row: 2 / 3;
    color:  hsl(204, 43%, 93%);
    background-color: hsl(179, 62%, 43%);
}
.three {
    grid-column: 1;
    grid-row: 3 / 4;
    background-color: hsl(218, 22%, 67%);
}